<!---sub-banner-area-->
<div class="sub-banner-area">
    <div class="container">
        <div class="sub-banner-main">
            <h3>Wishlist</h3>
            <ul>
                <li><a routerLink="./home">Home <i class="fa fa-angle-right"></i></a></li>
                <li><a routerLink="./wishlist">Wishlist</a></li>
            </ul>
        </div>
    </div>
</div>

<!---section1-->
<div class="section1">
    <div class="container">
        <div class="section1-main">
            <div class="table-area">
                <!----table-->
                <div class="table">
                    <!---table-head-->
                    <div class="table-head">
                        <div class="table-row">
                            <div class="table-heading si">
                                <h3>Serial</h3>
                            </div>
                            <div class="table-heading product">
                                <h3>Product</h3>
                            </div>
                            <div class="table-heading name">
                                <h3>Name</h3>
                            </div>
                            <div class="table-heading price">
                                <h3>Price</h3>
                            </div>
                            <div class="table-heading des">
                                <h3>Description</h3>
                            </div>
                            <div class="table-heading status">
                                <h3>Status</h3>
                            </div>
                            <div class="table-heading shop">
                                <h3>Shopping</h3>
                            </div>
                            <div class="table-heading action-btn">
                                <h3>Action</h3>
                            </div>
                        </div>
                    </div>
                    <!---table-body-->
                    <div class="table-body">
                        <div class="table-row" *ngFor="let data of [1,2,3,4]">
                            <div class="table-data si">
                                <h3>0{{data}}</h3>
                            </div>
                            <div class="table-data product">
                                <img src="./assets/images/temp/products/01.png" alt="">
                            </div>
                            <div class="table-data name">
                                <h3>Capsicum</h3>
                            </div>
                            <div class="table-data price">
                                <h3>৳80/<span>Piece</span></h3>
                            </div>
                            <div class="table-data des">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia dolorem voluptas
                                    repellendus officiis animi soluta distinctio sunt praesentium ducimus id ipsum,
                                    totam facilis eos amet adipisci enim sed ea quia.</p>
                            </div>
                            <div class="table-data status">
                                <h3 class="stock-out">Stock Out</h3>
                            </div>
                            <div class="table-data shop">
                                <button mat-button>Add to Cart</button>
                            </div>
                            <div class="table-data action-btn">
                                <ul>
                                    <li><span><i class="fa fa-shopping-bag"></i></span></li>
                                    <li><span><i class="fa fa-eye"></i></span></li>
                                    <li><span><i class="fa fa-trash-alt"></i></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--view-btn-->
            <div class="view-btn">
                <a routerLink="../product-list"><i class="fa fa-eye"></i> Lood More Items</a>
            </div>
        </div>
    </div>
</div>